extends ../layout


block content

  - var tblName = '';
  - var query = '';
  - var preSql = '';
  - var onSchedule = -1;
  - var meta = '';
  - var time = '';
  if etl
    - tblName = etl.tblName;
    - query = etl.query;
    - preSql = etl.preSql;
    - onSchedule = etl.onSchedule;
    - meta = etl.meta;
    - time = etl.ctimeFormat;

  head
    title ETL

  h2 ETL

  form(method="post", action="add")
    .form-group
      if etl
        span.label.label-primary ID :   #{etl.id}
        span.label.label-success 创建时间 :  #{time}
      p
      label ETL名称
      input.form-control(name="tblName", type="text", value="#{tblName}") 
      label ETL数据源
      input.form-control(name="meta", type="text", value="#{meta}") 
      label 查询SQL
      textarea.form-control(name="query",rows="3") #{query}
      label 配置
      textarea.form-control(name="setting",rows="3")
      label 先行SQL（针对target）
      textarea.form-control(name="preSql",rows="3") #{preSql}
      .form-group
          label 调度生效
          .radio-inline
            label
                input#optionsRadios1(type="radio", name="onSchedule", value=1,  "checked"=onSchedule== 1)
                | 是
          .radio-inline
            label
              input#optionsRadios3(type="radio", name="onSchedule", value=0,  "checked"=onSchedule== 0)
              | 否
      input.btn.btn-primary(type="submit", value="保存")
