extends ../layout

block content
  head
    title Execution列表
    
  h2 #{etl.tblName}

  if execs.length
    table.table.table-striped
      caption Execution列表 
        thead 
          tr
            td ID
            td 开始时间
            td 结束时间
            td 结果状态
            td 
              center 操作
      tbody
        each exec in execs
          t r
            td #{exec.id}
            td #{exec.startTimeFormat}
            td #{exec.endTimeFormat}
            td #{exec.status}
            td 
              center 
                a.btn.btn-primary.btn-sm(href="/etls/get_exec?id=#{exec.id}") 详情
  else
     |No Execution Found