extends ../layout

block content
  head
    title ETL列表
    
  h2 ETL列表

  if etls.length
    table.table.table-striped
      caption ETL列表
        thead 
          tr
            td ID
            td Meta
            td 表名
            td 
              center 操作
      tbody
        each etl in etls
          tr
            td #{etl.id}
            td #{etl.meta}
            td #{etl.tblName}
            td 
              center 
                a.btn.btn-primary.btn-sm(href="edit?id=#{etl.id}") 编辑
                &nbsp;&nbsp;
                a.btn.btn-primary.btn-sm(href="exec?id=#{etl.id}") 测试执行
                &nbsp;&nbsp;
                a.btn.btn-primary.btn-sm(href="exec_list?jobId=#{etl.id}") 执行记录
                &nbsp;&nbsp;
                a.btn.btn-primary.btn-sm(href="/blood?id=#{etl.id}") 查看血统
  else
     |No ETL Found