extends ../layout

block content
  head
    title ETL列表
    
  h2 ETL列表

  table.table.table-striped
    caption ETL列表
      thead 
        tr
          td ID
          td Meta
          td 表名
          td 操作
          td 血统
          
    tbody
      each etl in etls
        tr
          td #{etl.id}
          td #{etl.meta}
          td #{etl.tblName}
          td 
            a.btn.btn-primary.btn-sm(href="edit?id=#{etl.id}") Edit
          td
            a.btn.btn-primary.btn-sm(href="/blood?id=#{etl.id}") Blood
