extends ../layout

block content
  head
    title 表信息
    
  h2 表信息

  | #{tbl.createTime}
  
  a.btn.btn-primary.btn-sm(href="/blood/blood?tblName=#{tbl.db_name}@#{tbl.TBL_NAME}") XUETONG


  if cols.length
    table.table.table-striped
      caption 表信息 : #{tbl.TBL_NAME}
        thead 
          tr
            td ID
            td 名称
            td 类型
      tbody
        each col in cols
          tr
            td #{col.id}
            td #{col.colName}
            td #{col.colTypeName}