<h2>ETL</h2>



<table class="table table-striped">
<caption>ETL list</caption>
   <thead>
      <tr>
         <th>ID</th>
         <th>META</th>
         <th>tblName</th>
         <th>author</th>
         <th>preSql</th>
         <th>SQL</th>
         <th>onSchedule</th>
         <th>utime</th>
         <th>ctime</th>
         <th>priority</th>
         <th>caozuo</th>
      </tr>
   </thead>
   <tbody>
      {{#each etls as |etl|}}
        <tr>
            <td>{{etl.id}}</td>
            <td>{{etl.meta}}</td>
            <td>{{etl.tblName}}</td>
            <td>{{etl.author}}</td>
            <td>{{etl.preSql}}</td>
            <td>{{etl.query}}</td>
            <td>{{etl.onSchedule}}</td>
            <td>{{timeformate etl.utime}}</td>
            <td>{{timeformate etl.ctime}}</td>
            <td>{{etl.priority}}</td>
            <td>{{#link-to 'etls.edit' id="etl.id"}}
                {{etl.meta}} 
             {{/link-to}}</td>
        </tr>
      {{/each}}
  </tbody>
</table>